@font-face {
  font-family: Helvetica;
  src: url(fonts/Helvetica.dfont);
}

body {
	width: 596px;
	height: 842px;
	text-align: center;
}

.miroir {
	font-size: 8px;
	font-family: Helvetica;
}

.miroir a {
	color: #8A93A6;
}

.container {
	width: 567px;
	height: 757px;
	border: 7.5px solid #A68A99;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container .section1 {
	background-image: url(images/737.png);
	background-size: cover;
	width: 567px;
	height: 148px;
}

.container .section1 img {
	height: 92px;
	width: 102px;
	margin-top: 25px;
}

.trait {
	width: 497px;
	border-bottom: solid 1px #A68A99;
	text-align: center;
	margin-bottom: 32px;
	margin-left: 32px;
}

.section2 {
	font-family: Helvetica;
	margin-bottom: 32px;
}

.titre {
	font-size: 18px;
}

.texte {
	width: 497px;
	font-size: 12px;
	margin-top: 5px;
	margin-left: 32px;
}

.section3 {
	margin-bottom: 32px;
	font-family: Helvetica;
}

.section3 img {
	margin-bottom: 32px;
	margin-top: 32px;
}

.section3 .nomArtiste {
	z-index: 2;
	text-align: right;
    margin-top: -110px;
    margin-bottom: 68px;
    font-size: 14px;
}

.section3 .nomArtiste.Richard {
	color: #FFF;
	margin-left: 192px;
    position: absolute;
}

.section3 .nomArtiste.Australian {
	margin-right: 36px;
}

.section4 {
	font-family: Helvetica;
}

.section4 .texteTelephone {
	font-size: 11px;
	text-align: left;
	margin-top: -5px;
	margin-bottom: 5px;
	margin-left: 32px;
}

.section4 .texteHoraire {
	font-size: 9px;
	text-align: left;
	margin-left: 32px;
	margin-top: -5px;
}

.section4 .texteInfo {
	font-size: 9px;
	text-align: right;
	margin-right: 32px;
	margin-top: -60px;
}

.section4 .texteDetails {
	font-size: 9px;
	text-align: right;
	margin-right: 32px;
}

.reseauxSociaux img {
	height: 12px;
	margin-right: 20px;
}

.copyright {
	font-size: 8px;
	font-family: Helvetica;
}

.desinscription {
	font-size: 8px;
	font-family: Helvetica;
}

.desinscription a {
	color: #8A93A6;
}